{{- define "cluster.worker-nodes" -}}
{{- $networking := (include "networking" .) | fromYaml }}
{{- $machines := (include "machines" .) | fromYaml }}
{{- if eq .Values.capi.providers.infrastructure.name "hetzner" }}
---
{{/*
https://syself.com/docs/caph/reference/hcloud-machine-template
*/}}
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: HCloudMachineTemplate
metadata:
  name: {{ include "worker-hcloud-machine-template-name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cluster.labels" . | nindent 4 }}
    {{- include "worker-hcloud-machine-template-labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "-5"
spec:
  template:
    spec: {{- include "worker-hcloud-machine-template-spec" . | nindent 6 }}
{{- end }}
{{- if eq .Values.capi.providers.bootstrap.name "kubeadm" }}
---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: KubeadmConfigTemplate
metadata:
  name: {{ include "worker-kubeadm-config-template-name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cluster.labels" . | nindent 4 }}
spec:
  template:
    {{- /*
    # https://cluster-api.sigs.k8s.io/tasks/bootstrap/kubeadm-bootstrap/#kubeadmconfig-objects
    # https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/
    # k explain KubeadmConfigTemplate.spec.template.spec
    # NOTE: KubeadmConfigTemplate.spec.template.spec = KubeadmControlPlane.spec.kubeadmConfigSpec
    */}}
    spec: {{- include "worker-kubeadm-config-template-spec" . | nindent 6 }}
{{- end }}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  name: {{ include "worker-name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    nodepool: {{ include "worker-name" . }}
    {{- include "cluster.labels" . | nindent 4 }}
  {{- if $machines.worker.autoscaler.enabled }}
  annotations:
    cluster.x-k8s.io/cluster-api-autoscaler-enabled: "true"
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-min-size: "{{ $machines.worker.autoscaler.minSize }}"
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-max-size: "{{ $machines.worker.autoscaler.maxSize }}"
  {{- end }}
spec:
  clusterName: {{ include "cluster-name" . }}
  replicas: {{ $machines.worker.replicas }}
  selector:
    matchLabels:
      nodepool: {{ include "worker-name" . }}
      # cluster.x-k8s.io/cluster-name: {{ include "cluster-name" . }}
  {{- /*
  # strategy:
  #   remediation:
  #   type: RollingUpdate
  #   rollingUpdate:
  #     deletePolicy:
  #     maxSurge:
  #     maxUnavailable:
  */}}
  template:
    metadata:
      labels:
        nodepool: {{ include "worker-name" . }}
        # cluster.x-k8s.io/cluster-name: {{ include "cluster-name" . }}
    spec:
      bootstrap:
        configRef:
          {{- if eq .Values.capi.providers.bootstrap.name "kubeadm" }}
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
          kind: KubeadmConfigTemplate
          name: {{ include "worker-kubeadm-config-template-name" . }}
          {{- end }}
          namespace: {{ .Release.Namespace }}
      clusterName: {{ include "cluster-name" . }}
      failureDomain: {{ $networking.region | required "ERROR: networking region is required." }}
      infrastructureRef:
        {{- if eq .Values.capi.providers.infrastructure.name "hetzner" }}
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: HCloudMachineTemplate
        {{- end }}
        name: {{ include "worker-hcloud-machine-template-name" . }}
        namespace: {{ .Release.Namespace }}
      version: {{ $machines.worker.k8sVersion | required "ERROR: Worker node k8sVersion is required" }}
{{- end -}}
