---
# https://external-secrets.io/latest/provider/gitlab-variables/
# https://external-secrets.io/latest/api/clustersecretstore/
# https://external-secrets.io/latest/api/secretstore/
gitlab:
  # TODO add possibility use one token for all providers
  # token: ""
  providers:
  # providers:
  #   # ClusterSecretStore name is set to <name>-secret-store
  #   gitlab:
  #     name: gitlab
  #     token:
  #       # Use an existing secret or create a new one.
  #       existingSecret: false
  #       # Token value to use when creating new secret.
  #       value: ""
  #       # Name of the secret to create or use (existing secret).
  #       secretName: "gitlab-secret"
  #       secretKey: "token"
  #     # Defaults to https://gitlab.com/.
  #     url: https://gitlab.mydomain.com/
  #     projectID: 11

# https://external-secrets.io/latest/provider/hashicorp-vault/
vault:
  providers:
  # providers:
  #   # ClusterSecretStore name is set to <name>-secret-store
  #   vault:
  #     name: vault
  #     server: "http://my.vault.server:8200"
  #     path: "secret"
  #     mtls:
  #       # Hack to copy vault client cert from capi-mgt cluster.
  #       # This value is rendered (with `tpl`) and saved in secret.
  #       # The secret is named as "vault-client-cert". Don't forget to use it in caProvider setting.
  #       caCrt: ""
  #       tlsCrt: ""
  #       tlsKey: ""
  #       secretName: "vault-client-cert"
  #     # The provider for the CA bundle to use to validate Vault server certificate
  #     caProvider: {}
  #       # type: Secret
  #       # namespace: vault
  #       # name: secret-name
  #       # key: ca.crt
  #     # Required for mTLS
  #     # https://external-secrets.io/latest/provider/hashicorp-vault/#mutual-authentication-mtls
  #     tls:
  #       clientCert:
  #         name: "my-cert-secret"
  #         key: "tls.crt"
  #       secretRef:
  #         name: "my-cert-secret"
  #         key: "tls.key"
  #     # https://external-secrets.io/latest/provider/hashicorp-vault/#authentication
  #     auth: {}
  #       # # Token
  #       # # points to a secret that contains a vault token
  #       # # https://www.vaultproject.io/docs/auth/token
  #       # tokenSecretRef:
  #       #   name: "my-secret"
  #       #   key: "vault-token"
  #       #   namespace: ""
  #       # # appRole
  #       # # VaultAppRole authenticates with Vault using the
  #       # # App Role auth mechanism
  #       # # https://www.vaultproject.io/docs/auth/approle
  #       # appRole:
  #       #   # Path where the App Role authentication backend is mounted
  #       #   path: "approle"
  #       #   # RoleID configured in the App Role authentication backend
  #       #   roleId: "db02de05-fa39-4855-059b-67221c5c2f63"
  #       #   # Reference to a key in a K8 Secret that contains the App Role SecretId
  #       #   secretRef:
  #       #     name: "my-secret"
  #       #     key: "secret-id"
  #       #     namespace: ""

# Hack to copy an auth secret from capi-mgt cluster.
# Values are rendered with `tpl` in the template.
# Check config_lintig for an example.
authSecret: {}
# authSecret:
#   secretName: vault-approle
#   ESO_VAULT_ROLE_ID:
#   ESO_VAULT_SECRET_ID:
