{{- range $k, $v := .Values.externalSecrets }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata: {{- toYaml $v.metadata | nindent 2 }}
spec:
  refreshInterval: {{ $v.spec.refreshInterval | default "1h" }}
  secretStoreRef:
  {{- if $v.spec.secretStoreRef }}
  {{- toYaml $v.spec.secretStoreRef | nindent 4 }}
  {{- else }}
    kind: ClusterSecretStore
    name: vault-secret-store
  {{- end }}
  data: {{- toYaml $v.spec.data | nindent 2 }}
  target:
    creationPolicy: {{ $v.spec.target.creationPolicy | default "Owner" }}
    deletionPolicy: {{ $v.spec.target.deletionPolicy | default "Retain" }}
    name: {{ $v.spec.target.name }}
    {{- with $v.spec.target.template }}
    template: {{- toYaml . | nindent 6 }}
    {{- end }}
{{- end }}
