{{- range $k, $v := .Values.passwords }}
---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata: {{- toYaml $v.metadata | nindent 2 }}
spec:
{{- if $v.spec }}
  allowRepeat: {{ $v.spec.allowRepeat | default "true" }}
  {{- with $v.spec.digits }}
  digits: {{ . }}
  {{- end }}
  length: {{ $v.spec.length | default 32 }}
  noUpper: {{ $v.spec.noUpper | default "false" }}
  symbolCharacters: {{ $v.spec.symbolCharacters | default "-_$@" }}
  {{- with $v.spec.symbols }}
  symbols: {{ . }}
  {{- end }}
{{- else }}
  allowRepeat: true
  length: 32
  noUpper: false
  symbolCharacters: "-_$@"
{{- end }}
{{- end }}
