{{- range $k, $v := .Values.pushSecrets }}
---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata: {{- toYaml $v.metadata | nindent 2 }}
spec:
  refreshInterval: {{ $v.spec.refreshInterval | default "1h" }}
  updatePolicy: {{ $v.spec.updatePolicy | default "Replace" }}
  deletionPolicy: {{ $v.spec.deletionPolicy | default "Delete" }}
  secretStoreRefs:
  {{- if $v.spec.secretStoreRefs }}
  {{- toYaml $v.spec.secretStoreRefs | nindent 2 }}
  {{- else }}
  - kind: ClusterSecretStore
    name: vault-secret-store
  {{- end }}
  selector: {{- toYaml $v.spec.selector | nindent 4 }}
  data: {{- toYaml $v.spec.data | nindent 2 }}
{{- end }}
