---
name: Lint Charts

on:
  pull_request:
    paths:
    - "charts/**"
  push:
    branches:
    - main
    paths:
    - "charts/**"
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    # https://github.com/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0

    # # https://github.com/actions/setup-python
    # - name: Set up python
    #   uses: actions/setup-python@v6.1.0
    #   with:
    #     python-version: "3.13"

    # https://github.com/Azure/setup-helm
    - name: Set up Helm
      uses: azure/setup-helm@v4.3.1
      with:
        version: "latest"

    - name: Install yamlfmt
      # TODO renovate yamlfmt. It must be updated together with version in pre-commit
      run: |
        go install github.com/google/yamlfmt/cmd/yamlfmt@v0.21.0
        echo "$(go env GOPATH)/bin" >> "$GITHUB_PATH"
        export PATH="$(go env GOPATH)/bin:$PATH"
        yamlfmt -version

    - name: Lint cluster
      run: |
        helm dependency update charts/cluster
        helm lint charts/cluster

    - name: Lint example-workload-cluster
      run: |
        helm dependency update charts/example-workload-cluster
        helm lint charts/example-workload-cluster -f charts/example-workload-cluster/config_linting.yaml
        helm template charts/example-workload-cluster -f charts/example-workload-cluster/config_linting.yaml --output-dir /tmp/example-workload-cluster-linting-output
        yamlfmt -conf=./.yamlfmt -lint -quiet "/tmp/example-workload-cluster-linting-output/**/*.{yaml,yml}"
        rm -rf /tmp/example-workload-cluster-linting-output

    - name: Lint management-cluster
      run: |
        helm dependency update charts/management-cluster
        helm lint charts/management-cluster -f charts/management-cluster/config_linting.yaml
        helm template charts/management-cluster -f charts/management-cluster/config_linting.yaml --output-dir /tmp/management-cluster-linting-output
        yamlfmt -conf=./.yamlfmt -lint -quiet "/tmp/management-cluster-linting-output/**/*.{yaml,yml}"
        rm -rf /tmp/management-cluster-linting-output

    - name: Lint workload-cluster
      run: |
        helm dependency update charts/workload-cluster
        helm lint charts/workload-cluster -f charts/workload-cluster/config_linting.yaml
        helm template charts/workload-cluster -f charts/workload-cluster/config_linting.yaml --output-dir /tmp/workload-cluster-linting-output
        yamlfmt -conf=./.yamlfmt -lint -quiet "/tmp/workload-cluster-linting-output/**/*.{yaml,yml}"
        rm -rf /tmp/workload-cluster-linting-output

    - name: Lint cluster-bootstrap-configs
      run: |
        helm dependency update charts/helpers/cluster-bootstrap-configs
        helm lint charts/helpers/cluster-bootstrap-configs -f charts/helpers/cluster-bootstrap-configs/config_linting.yaml
        helm template charts/helpers/cluster-bootstrap-configs -f charts/helpers/cluster-bootstrap-configs/config_linting.yaml --output-dir /tmp/helpers/cluster-bootstrap-configs-linting-output
        yamlfmt -conf=./.yamlfmt -lint -quiet "/tmp/helpers/cluster-bootstrap-configs-linting-output/**/*.{yaml,yml}"
        rm -rf /tmp/helpers/cluster-bootstrap-configs-linting-output

    - name: Lint eso-providers
      run: |
        helm dependency update charts/helpers/eso-providers
        helm lint charts/helpers/eso-providers -f charts/helpers/eso-providers/config_linting.yaml
        helm template charts/helpers/eso-providers -f charts/helpers/eso-providers/config_linting.yaml --output-dir /tmp/helpers/eso-providers-linting-output
        yamlfmt -conf=./.yamlfmt -lint -quiet "/tmp/helpers/eso-providers-linting-output/**/*.{yaml,yml}"
        rm -rf /tmp/helpers/eso-providers-linting-output

    - name: Lint eso-secrets
      run: |
        helm dependency update charts/helpers/eso-secrets
        helm lint charts/helpers/eso-secrets -f charts/helpers/eso-secrets/config_linting.yaml
        helm template charts/helpers/eso-secrets -f charts/helpers/eso-secrets/config_linting.yaml --output-dir /tmp/helpers/eso-secrets-linting-output
        yamlfmt -conf=./.yamlfmt -lint -quiet "/tmp/helpers/eso-secrets-linting-output/**/*.{yaml,yml}"
        rm -rf /tmp/helpers/eso-secrets-linting-output
